.content-section {
  grid-area: content;
  padding: 16px;
}

.content-title {
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 1.1em;
  line-height: 1.25em;
  border-bottom: solid 1px #313131;
  text-transform: uppercase;
  text-align: right;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  padding-top: 16px;
}

.load-more-button {
  padding: 8px 16px;
  color: white;
  background-color: #0f273a;
  display: inline-block;
  cursor: pointer;
}

.load-more-button:hover {
  color: black;
}
